### Program 1

In [13]:
print("Hello World")

Hello World

### Program 2

In [14]:
# Addition
num1 = float(input("Enter the first Number: "))
num2 = float(input("Enter the Second Number: "))
sum = num1 + num2
print(f"The sum of the two numbers is: {num1} + {num2} = {sum}")

The sum of the two numbers is: 10.0 + 20.0 = 30.0

### Program 3

In [15]:
# area of triangle
base = float(input("Enter the Length of the base of triangle"))
height = float(input("Enter the Height of the triangle"))
area = 0.5 * base * height
print(f"The area of triangle is: {area} of base: {base} and height: {height}")

The area of triangle is: 75.0 of base: 10.0 and height: 15.0

### Program 4

In [5]:
#Swap two variable
a = input("Enter The first variable")
b = input("Enter The second variable")
print(f"Original values: a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"Swapped values: a = {a}, b = {b}")

Original values: a = 5, b = 9
Swapped values: a = 9, b = 5

### Program 5

In [8]:
#Genrate random Numbers
import random
random_number = random.randint(1, 100)
print(f"Random Number: {random_number}")

Random Number: 50

### Program 6

In [9]:
#convert Km to Miles
km = float(input("Enter distence in kilometers"))
#1Km = 0.621371 miles
conversion_factor = 0.621371
miles = km*conversion_factor
print(f"{km} Kilometers is equal to {miles} Miles")

100.0 Kilometers is equal to 62.137100000000004 Miles

### Program 7

In [11]:
#convert Celsius to Fahrenheits
celsius = float(input("Enter Tempreture in Celsius: "))
fahrenheits = (celsius * 9/5) + 32
print(f"{celsius} degree Celsuis is equal to {fahrenheits} degrees fahrenheits")

37.0 degree Celsuis is equal to 98.6 degrees fahrenheits

### Program 8

In [13]:
#To display Calendar
import calendar

year = int(input("Enter Year: ")) 
month = int(input("Enter Month: "))

cal = calendar.month(year, month)
print(cal)

   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

### Program 9

In [19]:
#To solve Quadratic Equation
import math

# Coefficients of the quadratic equation
a = 1
b = -5
c = 6
# Calculate the discriminant
d = (b**2) - (4*a*c)
# Find two solutions
if d < 0:
    print("The equation has no real solutions")
elif d == 0:
    print("The equation has one real solution")
else:
    # Calculate two solutions
    sol1 = (-b-math.sqrt(d))/(2*a)
    sol2 = (-b+math.sqrt(d))/(2*a)
    print(f"The solutions are {sol1} and {sol2}")

The solutions are 2.0 and 3.0

### Program 10

In [21]:
#Swap 2 variable without using third variable
a = 5
b = 10
print("Before swapping: a =", a, "b =", b)
a = a + b  # Add b to a
b = a - b  # Subtract b from a to get the original value of a
a = a - b  # Subtract the new value of b from a to get the original value
print("After swaping: a =", a, "b =", b)

Before swapping: a = 5 b = 10
After swaping: a = 10 b = 5

### Program 11

In [24]:
#Check Number is -ve or +ve
num = float(input("Enter a number: "))
if num >= 0:
    print(num,"is a Positive number")
elif num == 0:
    print(num,"is a Zero")
else:
    print(num,"is a Negative number")

-6.4 is a Negative number

### Program 12

In [28]:
#Check number is odd or even
num = int(input("Enter a Number"))
if num % 2 == 0:
    print(num,"is Even")
else:
    print(num,"is Odd")

40 is Even

### Program 13

In [29]:
#Ckeck Leap year
year = int(input("Enter a Year: "))
if (year % 4 == 0) and (year % 100 == 0):
    print(year,"is a leap year")
elif (year % 4 == 0) and (year % 100 != 0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2045 is not a leap year

### Program 14

In [30]:
#To ckeck prime number
num = int(input("Enter a number: "))
flag = False
if num == 1:
    print(num,"is not a prime number")
elif num > 1:
    for i in range(2,num):
        if (num % i) == 0:
            flag = True
            break
if flag:
    print(num,"is not a prime number")
else:
    print(num,"is a prime number")

27 is not a prime number

### Program 15

In [37]:
#To print prime number from 1-10
lower = 1 
upper = 100
print("Prime number between",lower, "and",upper, "are: ")
for num in range(lower,upper + 1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime number between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Program 16

In [41]:
#Print factorial of a number
num = int(input("Enter a number: "))
fact = 1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        fact = fact*i
    print(f"The factorial of {num} is {fact}")

The factorial of 10 is 3628800

### Program 17

In [47]:
#Display the miltiplication table
num = int(input("Display multiplication table of: "))
print(f"Multiplication Table of: {num}")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Multiplication Table of: 29
29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

### Program 18

In [51]:
#Print fibonacci sequence
nterms = int(input("How many terms: "))
n1, n2 = 0, 1 
count = 0
if nterms <= 0:
    print("Please enter a positive number")
elif nterms ==1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
else:
    print("Fibonacci sequence")
    print(f"Upto {nterms} terms: ")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

Fibonacci sequence
Upto 20 terms:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

### Program 19

In [5]:
# check if the number is an Armstrong number or not
num = int(input("Enter a number: "))
sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

153 is an Armstrong number

### Program 20

In [10]:
#check Armstrong numbers in a interval

lower = 100
upper = 2000
print(f"Armstrong numbers Between {lower} & {upper}")
for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

Armstrong numbers Between 100 & 2000
153
370
371
407
1634

### Program 21

In [12]:
#Sum of natural numbers
limit = int(input("Enter the limit: "))
sum = 0
for i in range(1, limit + 1):
    sum += i
print("Sum of natural numbers up to", limit, "is:", sum)

Sum of natural numbers up to 10 is: 55